.Main{
    padding: 2rem;
    text-align: center;
    background: #E5E5E5;
}

.Main figure{
    margin-bottom: 2rem;
}

.Main-principal-tittle{
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 2rem;
}

.Main-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #757575;
    margin-bottom: 2rem;
}

.Main-second-tittle{
    color: var(--Bitcoin-Orange);
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}