.Cards{
    background: #282623;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: flex-start;
    text-align: initial;
    gap: 8px;
    margin-bottom: 1rem;
    max-width: 400px;
}

.Cards p{
    color: #808080;
    margin-bottom: 1rem;
}