.Publicity{
    position: relative;
    
    margin-bottom: -5px;
}

.Publicity figcaption{
    position: absolute;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: #FFFFFF;
    top: calc(50% - 25px);
    left: calc(50% - 76px);
}

.Publicity img{
    max-height: 324px;
    width: 100%;
    object-fit: cover;
}