.footer{
    padding: 2rem 4rem;
    background: var(--Bitcoin-Orange);
    display: flex;
    gap: 4rem;
}

.footer article:first-child{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer article p{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.footer-logo{
    text-align: center;
    width: 4rem;
}

.footer-logo figcaption{
    font-weight: 500;
    font-size: 8px;
    line-height: 18px;
    color: var(--Soft-orange);
}