*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'DM Sans', sans-serif;
}

:root{
  --banner-background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
  --Bitcoin-Orange: #F7931A;
  --Soft-orange: #FFE9D4;
  --Just-White: #FFFFFF;
  --Warm-Black: #201E1C;
}